@{
    ViewData["Title"] = "Home Page";
}

@section Styles {

}

<div class="text-center">
    <h2 class="display-4">Welcome to Assignment 1</h2>
    <p>Please read the assignment specifications for full details!</p>
</div>
@section Scripts {
   

}
